/* Extra desktop or computers devices (computers,1026 to 1200px and down) */
@media only screen and (max-width: 1200px) {
    
 .hero_text{
        width: 100%;
        padding: 0 2%;

    }

    .row {
        padding: 0 2%;
    }

}


/* Extra big tablets devices (tablets,781 to 1020px and down) */
@media only screen and (max-width: 1025px) {
    .long-copy{
        width: 80%;
        margin-left: 10px;
    }
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .step-box{
        margin-top: 10px;
    }
    .step-box:last-child{
        margin-top: 10px;
    }
    .work--step{
        margin-bottom: 40px;
    }
    .work--step:last-of-type{
        margin-bottom: 60px;
    }
    .icon-small{
        width:17px;
        margin-right: 5px;
    }
    .cities-features{
        font-size: 90%;
    }
    .plan-box{
        width: 100%;
        margin-left: 0px;
    }
    .plan-price{
        font-size: 250%;
    }
    .contact-form{
        width: 80%;
    }
    .IMG{
        width: 50%;
    }
    

}




/* Extra middle devices (tablets,481 to 780px and down) */
@media only screen and (max-width: 780px) {
    body{
        font-size: 16px;
    }
    section{
        padding: 30px 0;

    }
    .row,
    .hero_text{
        padding: 0 4%;
    }
    
    
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-img{
        display: none;
    }
    .IMG{
        width: 40%;
    }
    .step-box:first-child{
        text-align: center;
        
    }
    .step-box:last-child{
        text-align: center;
    }
    .work--step div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .work--step{
        margin-bottom: 20px;
    }
    .work--step:last-child{
        margin-bottom: 20px;
    }
    .A{
        display: none;
    }
    .hero_text{
        width: 100%;
    }


}



/* Extra small devices (phones,0 to 480px and down) */
@media only screen and (max-width: 480px) {
    section{
        padding:25px 0;
    }
    .contact-form{
        width: 100%;
    }

}